<section>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8 mx-auto">
                <app-title  authAction="Set New Password"></app-title>
               <div class="setPassword-form">
                   <div class="row">
                       <div class="col-md-8 col-12 mx-auto">
                           <div class="card">
                               <div class="card-body">
                                    <form  [formGroup]="setPasswordForm">
                                        <div class="form-group">
                                            <label for="password">Password</label>
                                            <input type="password"  required formControlName="password" minlength="8" class="form-control" id="password">
                                        </div>
                                        <div class="form-group">
                                            <label for="password">Password (Confirm)</label>
                                            <input type="password"  required formControlName="confirmPassword" minlength="8" class="form-control" id="password">
                                        </div>
                                    <button type="submit" class="w-100 btn-dark btn submit"  (click)="setPassword(setPasswordForm.value)" [disabled]="!setPasswordForm.valid">Set Password</button>
                                    </form>
                               </div>
                           </div>
                        
                       </div>
                   </div>
               </div>
            </div>
        </div>
    </div>
</section>