<section>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8 mx-auto">
                <app-title  authAction="Reset Password"></app-title>
               <div class="reset-form">
                   <div class="row">
                       <div class="col-md-8 col-12 mx-auto">
                           <div class="card">
                               <div class="card-body">
                                    <form  [formGroup]="resetForm">
                                       <div class="form-group">
                                           <label for="email">Email Address</label>
                                           <input type="email" formControlName="email" required class="form-control" id="email" placeholder="example@gmail.com">
                                       </div>
                                    <button type="submit" class="w-100 btn-dark btn submit"  (click)="reset(resetForm.value)" [disabled]="!resetForm.valid">Reset Password</button>
                                    </form>
                               </div>
                           </div>
                           <div class="register text-white">
                               <p class="text-center">Try other methods ?</p>	
                               <a [routerLink]="['/auth','login']"   class="text-white btn-link btn w-100">Login</a>
                           </div>
                       </div>
                   </div>
               </div>
            </div>
        </div>
    </div>
</section>