:root{
    --red:rgb(217, 85, 80);
    --white:#ffffff;
    --black:#000000;
    --green:rgb(76, 145, 149);
    --blue:rgb(69, 124, 163);
    --faded:rgba(0, 0, 0, 0.15);
    --whiteFaded:rgba(255,255,255,0.2);
    --cream:rgb(252, 248, 222);

}